<section class="hero is-info">
	<div class="hero-body">
		<h1 class="title">Crear Sucursal</h1>
	</div>
</section>

<section class="section">
	<%= render 'form', sucursal: @sucursal %>
</section>

<%= javascript_pack_tag 'sucursal_validation' %>